.master-container {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    margin: 30px 10%;
}

.container-products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.row-products {
    display: flex;
    margin-bottom: 30px;
    width: 25%;
    justify-content: space-between;
}

.col-products {
    /* width: 100%; */
    margin-right: 30px;
    box-sizing: border-box;
    border: 1px solid #ececec;
    height: 360px;
    align-items: center;
}

.item {
    width: 100%;
    margin-right: 10px; /* Khoảng cách giữa ảnh và viền của item */
    box-sizing: border-box;
    position: relative;
}

.width-a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #000000;
    text-align: center;
    font-size: 16px;
    padding: 0;
}

.name-line {
    text-decoration: none;
}

img.img-products {
    width: 100%;
    height: 226px;
    padding: 0;
    margin: 0;
}

.title-box {
    border-bottom: 2px solid #ececec;
    box-sizing: border-box;
    margin-bottom: 24px;
}

.section-title-span {
    color: #000000;
    font: 20px Roboto, sans-serif;
}

.hidden-button {
    display: none;
    position: absolute;
    top: 50%;
}

.col-products:hover {
    text-decoration: none;
    color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.col-products:hover .hidden-button {
    display: block;
    opacity: 1;
}

.price {
    margin: 20px 0 20px 55px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.origin-price {
    text-decoration: line-through;
    color: #9b9b9b;
}

a:hover {
    text-decoration: none;
    color: #000000;

}

.image-container {
    display: inline-block;
  }
  
.discount {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; 
    box-sizing: border-box;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    top: 10%;
    left: -10px;
}
  



.category-details {
    margin-bottom: 30px;
}

.home-coffee {
    color: #9b9b9b;
    text-decoration: none;
}

.home-coffee:hover {
    color: #1f1e1e;
    text-decoration: none;
}

.width-a:hover {
    text-decoration: none;
    color: #000000;
}

.icon-cart {
    width: 40px;
    height: 35px;
}